{% extends 'dashboard.html' %}

{% block content %}
<h2 class="sub-header">Episode list</h2>

{% if episode_list %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published date</th>
        </tr>
        </thead>
        <tbody>


        {% for episode in episode_list %}
        <tr>
            <td><a href="{% url 'episode_detail' episode.id %}">{{ episode.title }}</a></td>
            <td>{{ episode.author }}</td>
            <td>{{ episode.pub_date }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% else %}
<h3>There are no episodes. </h3>
{% endif %}

{% endblock content %}